<div class="control-panel-page">
  <section class="control-panel-section-one">
    <header class="header">
      <a routerLink="/">
        Go Home
      </a>
    </header>

    <div class="flex-center">
      <app-button-tooltip-group
        class="button-tooltip-group"
        [states]="states"
      >
      </app-button-tooltip-group>
    </div>
  </section>

  <section class="control-panel-section-two">
    <div class="flex-center">
      <app-button-tooltip [state]="state"></app-button-tooltip>
    </div>
  </section>
</div>
