.control-panel-page {
  height: 1500px;
}

.header {
  height: 250px;
}

.button-tooltip-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.control-panel-section-two {
  margin-top: 150px;
}
