@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/tooltip";

// helpers
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
